@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

/* color plete && st */

:root{
    --PrimaryColor:rgb(82, 142, 37);
    --HoverColor:rgb(189, 240, 148);
    --paleGreen:rgb(223, 248, 206);
    --whiteColor:rgb(255, 255, 255);
    --blackColor:rgb(46, 46, 46);
    --textColor:rgb(121, 121, 124);
    --bgColor:rgb(238, 239, 241);
    --greyText:rgb(190,190,190);
    --inputColor:rgb(248, 246, 247);

    /* Font Typography */
    --biggestFontSize:2.5rem;
    --h1FontSize:1.5rem;
    --h2FontSize:1.25rem;
    --h3FontSize:1rem;
    --normalFontSize:.938rem;
    --smallFontSize:.813rem;
    --smallestFontSize:.75rem;
}

/* Default styles */
html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap:1.5rem;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--inputColor);
    padding: .8rem 1rem ;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: var(--textColor);
}

.btn .icon{
    margin-left: .5rem;
}

.btn:hover{
    background: var(--paleGreen);
    color: var(--PrimaryColor);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    text-transform: capitalize;
}

.container{
    position: relative;
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgColor);
    overflow: hidden;
    box-shadow: 2px 2px 8px var(--greyText);
    -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    border-radius: 1rem;
}

/* Hide The Scroll Thumb */

::-webkit-scrollbar{
    display: none;
}
 

/*Media Queries ====================> */

@media screen and (max-width:990px) {
    .heading{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    
}

@media screen and (max-width:918px) {
    .heading{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    
}

@media screen and (max-width:500px) {
    .heading{
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }
    
}


